#startBtn {
    margin: 30px 0 0 15px;
    width: 40%;
}

#main {
    margin-left: 0px;
}

#finalID {
    margin-left: 15px;
}

#qzBtn {
    background-color: darkmagenta;
    border-radius: 10px;
    display: block;
    margin: 10px;
}

#finalScore {
    margin: 1rem;
}

#highScores {
    margin-left: 2%;
}

#time {
    margin-left: 75%;
}

ul {
    list-style-type: none;
    margin-left: -39px;
}